header {
    font-family: 'Cera Pro', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    padding: 30px 120px 12px;
    margin: 0 auto;
    height: 53px;
}

.logo img {
    width: 150px;
    height: 34px;
    top: 1px;
}

nav ul {
    height: 45px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 47px;
}

nav ul > li {
    position: relative;
}

nav ul > li > a {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #3D3D3D;
    padding: 8px 25px;
    display: block;
}

nav ul ul {
    min-width: 180px;
    white-space: nowrap;
}

nav ul > li > a::after {
    content: "";
    display: block;
    height: 3px;
    background-color: #46A358;
    margin-top: 25px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav ul > li > ul > li > a::after {
    display: none;
}

nav ul > li:hover > a {
    font-weight: 700;
}

nav ul > li:hover > a::after {
    transform: scaleX(1);
}

nav ul > li > ul {
    position: absolute;
    top: 60px;
    left: -30%;
    width: 188px;
    height: 143px;
    background: #EDF6EE;
    padding: 0;
    list-style: none;
    display: none;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul > li:hover > ul {
    display: block;
}

nav ul > li > ul > li {
    position: relative;
    height: 35px;
    padding: 7px 14px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s;
    width: 188px;
    box-sizing: border-box;
/
}

nav ul > li > ul > li > a {
    font-family: 'Cera Pro', sans-serif;
    flex-grow: 1;
    font-size: 16px;
    height: 20px;
    font-weight: 400;
    color: #3D3D3D;
    display: block;
    width: 100%;
    padding: 7px 14px 8px;
}

nav ul > li > ul > li:hover {
    background: #1A712A;
}

nav ul > li > ul > li:hover > a {
    font-weight: 700;
    color: #FFFFFF;
}

.arrow-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
    height: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    filter: brightness(0) saturate(100%) invert(25%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(90%);
}

nav ul > li > ul > li:hover .arrow-icon {
    transform: translateY(-50%) rotate(180deg);
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

nav ul > li > ul > li > ul {
    position: absolute;
    top: -105px;
    left: 190px;
    width: 178px;
    height: 215px;
    background: #EDF6EE;
    padding: 0;
    list-style: none;
    display: none;
    z-index: 101;
}

nav ul > li > ul > li:hover > ul {
    display: block;
}

nav ul > li > ul > li > ul > li {
    font-family: 'Cera Pro', sans-serif;
    width: 178px;
    height: 35px;
    padding: 7px 14px 8px;
    display: flex;
    align-items: center;
}

nav ul > li > ul > li > ul > li > a {
    font-size: 16px;
    font-weight: 400;
    color: #3D3D3D;
    display: block;
    width: 100%;
    height: 100%;
}

nav ul > li > ul > li > ul > li > a::after {
    content: none !important;
}

.login-button {
    font-family: 'Cera Pro', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 20px;
    background-color: #46A358;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.login-button:hover {
    background-color: #3c8b4b;
}

.header-button button img {
    width: 20px;
    height: 20px;
}


.main-section {
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5F5F5;
    padding: 50px 80px;
    box-sizing: border-box;
}

.main-content {
    background-color: #F5F5F5;
    max-width: 1200px;
    width: 100%;
    height: 450px;
    margin-left: -75px;
}

.main-content h2 {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3D3D3D;
    margin: 68px 43px 7px;
}


.main-content h1 {
    font-family: 'Cera Pro', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 70px;
    color: #3D3D3D;
    margin-left: 40px;
}

.green {
    color: #46A358;
}

.main-content h1 span {
    font-family: 'Cera Pro', sans-serif;
    color: #46A358;
}


.main-content p {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    margin-top: 5px;
    margin-left: 43px;
    margin-bottom: 44px;
}


.shop-button {
    font-family: 'Cera Pro', sans-serif;
    width: 140px;
    height: 40px;
    background-color: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 11px 27px 9px 26px;
    margin-left: 41px;
    margin-bottom: 85px;
}


.shop-button:hover {
    background-color: #3A8F47;
}


.hero-images {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}


.plant-left {
    width: 135px;
    height: 135px;
    position: absolute;
    bottom: 15px;
    left: 55px;
}


.plant-right {
    width: 507px;
    height: 450px;
}

.main {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: start;
}

.sidebar {
    margin-right: 50px;
}

.sidebar2 {
    max-width: 310px;
    height: 774px;
    background: #FBFBFB;
    margin-top: 26px;
    padding: 18px 14px;
}

.main-category {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
}

.sidebar-list {
    padding: 24px 12px;
    height: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-text {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 40px;
    color: #3D3D3D;
    text-decoration: none;
}

.sidebar-text:hover {
    color: #46A358;
    transition: color 0.3s ease-in-out;
}

.banner {
    max-width: 310px;
    object-fit: cover;
    height: 470px;
}

.header2 {
    margin-top: 26px;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.head-img {
    display: flex;
    gap: 40px;
}

.head-img {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    color: #3D3D3D;
    width: 280px;
}

.filter-text {
    display: inline-block;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.filter-text {
    position: relative;
    padding-bottom: 10px;
}

.filter-text:hover,
.filter-text.active {
    color: #46A358;
}

.filter-text.active::after,
.filter-text:hover::after {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #46A358;
}

.filter-dropdown {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 70px 30px;
    margin-top: 30px;
}

.card {
    width: 258px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.image-container {
    width: 258px;
    height: 300px;
    background-color: #FBFBFB;
    position: relative;
}


.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 258px;
    height: 1px;
    background-color: #46A358;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.3s ease-in-out;
}


.card:hover::before {
    opacity: 1;
}

.card:hover .icon-cards {
    opacity: 1;
}

.icon-cards {
    position: absolute;
    top: 258px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 125px;
    height: 35px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.icon-card {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.icon-card img {
    width: 20px;
    height: 20px;
}

.flower-img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

.flower-name {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #3D3D3D;
    margin-top: 12px;
    text-align: left;
    width: 100%;
    padding-left: 10px;
}

.price {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #46A358;
    margin-top: 6px;
    text-align: left;
    width: 100%;
    padding-left: 10px;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    max-width: 1200px;
    margin: 0 auto;
    gap: 10px;
    padding-top: 90px;
}

.counter {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    max-width: 35px;
    max-height: 35px;
    border-radius: 4px;
    padding: 9px 13px 10px 12px;
}

.counter:hover {
    background-color: #46A358;
    color: white;
}

.main-information {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 146px 0;
}

.information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 28px;
}

.info-card {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 586px;
    height: 250px;
    background-color: #FBFBFB;
    padding: 37px 30px 9px 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.plant-image {
    width: 287px;
    height: 287px;
    object-fit: cover;
    position: absolute;
    left: 0;
    bottom: 8px;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    text-align: right;
    width: calc(100% - 287px);
}

.text-content h4 {
    font-family: "Sera Pro", sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color: #3D3D3D;
    max-width: 260px;
    word-wrap: break-word;
    margin-bottom: 9px;
}

.text-content p {
    font-family: "Sera Pro", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    margin-bottom: 25px;
    max-width: 292px;
    word-wrap: break-word;
    white-space: normal;
}

.find-more {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46A358;
    color: #FFFFFF;
    font-family: "Sera Pro", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    border: none;
    border-radius: 5px;
    width: 140px;
    height: 40px;
    padding: 11px 27px 9px 28px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap;
}

.find-more:hover {
    background-color: #3c8b4b;
}

.find-more .arrow {
    margin-left: 2px;
    width: 16px;
    height: auto;
}

.blog-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}

.blog-title {
    font-family: 'Cera Pro', sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 15px;
}

.blog-description {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727272;
    margin-bottom: 35px;
}

.blog-container {
    display: flex;
    justify-content: space-between;
    gap: 42px;
}

.blog-card {
    width: 268px;
    height: 362px;
    background-color: #FFFFFF;
    border-radius: 0;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.blog-card:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.blog-image {
    width: 268px;
    height: 195px;
    object-fit: cover;
}

.blog-content {
    width: 242px;
    height: 146px;
    padding: 9px 15px 11px 12px;
    text-align: left;
    margin: 0 auto;
}

.blog-meta {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #46A358;
    margin-bottom: 4px;
}

.blog-title-card {
    font-family: 'Cera Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    color: #3D3D3D;
    margin-bottom: 4px;
}

.blog-text {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
    margin-bottom: 9px;
}

.read-more {
    font-family: 'Cera Pro', sans-serif;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.read-more a {
    text-decoration: none !important;
    color: #3D3D3D !important;
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    transition: color 0.3s ease-in-out;
}

.read-more:hover a {
    color: #46A358 !important;
}

.read-arrow {
    width: 16px;
    height: 16px;
    filter: brightness(0) saturate(100%) invert(20%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(80%) contrast(90%);
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.read-more:hover .read-arrow {
    filter: brightness(0) saturate(100%) invert(47%) sepia(64%) saturate(518%) hue-rotate(86deg) brightness(91%) contrast(92%);
}

footer {
    width: 1200px;
    height: 610px;
    background: #FBFBFB;
    margin: 100px auto 13px auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 24px 25px;
    align-items: flex-start;
}

.footer-box {
    width: 204px;
    height: 202px;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
}

.footer-box:not(:last-child) {
    border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.footer-box:nth-child(1) {
    padding-right: 30px;
    border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.footer-box:nth-child(2) {
    padding-left: 30px;
    padding-right: 30px;
    border-right: 1px solid rgba(70, 163, 88, 0.1);
}

.footer-box:nth-child(3) {
    padding-left: 30px;
    border-right: none !important;
}

.footer-box img {
    margin-bottom: 15px;
}

.footer-box:nth-child(1) img {
    width: 77px;
    height: 95px;
}

.footer-box:nth-child(2) img {
    width: 83px;
    height: 92px;
}

.footer-box:nth-child(3) img {
    width: 90px;
    height: 92px;
}

.footer-box h3 {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 9px;
}

.footer-box p {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #727272;
    text-align: start;
}

.newsletter {
    width: 354px;
    height: 202px;
    margin-left: 62px;
    margin-right: 25px;
    text-align: left;
}

.newsletter h3 {
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
    margin-bottom: 25px;
}

.newsletter form {
    display: flex;
    align-items: center;
    width: 354px;
    height: 40px;
    border-radius: 6px;
    overflow: hidden;
}

.newsletter input {
    flex-grow: 1;
    height: 100%;
    padding-left: 10px;
    border: none;
    font-size: 14px;
}

.newsletter button {
    width: 85px;
    height: 40px;
    background: #46A358;
    color: #FFFFFF;
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.newsletter button:hover {
    background: #3c8b4b;
    filter: brightness(90%);
    transition: all 0.3s ease-in-out;
}

.newsletter p {
    font-family: 'Cera Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    color: #727272;
    margin-top: 18px;
}

.footer-middle {
    width: 1200px;
    height: 88px;
    background: linear-gradient(to right, #EDF6EF, #52C368);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 22px;
    box-sizing: border-box;
    overflow: hidden;
}

.footer-middle .logo img {
    width: 150px;
    height: 34px;
    margin-right: 155px;
}

.footer-middle .info-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    gap: 155px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-middle .info-block {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.footer-middle .info-block p {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #3D3D3D;
    line-height: 22px;
    margin: 0;
}

.footer-middle .address,
.footer-middle .email,
.footer-middle .phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.footer-middle .address {
    margin-left: 0;
}

.footer-middle .email {
    margin-left: 155px;
}

.footer-middle .phone {
    margin-left: 155px;
    margin-right: 22px;
}

.footer-middle .address img {
    margin-right: 9px;
}

.footer-middle .email img {
    margin-right: 10px;
}

.footer-middle .phone img {
    margin-right: 8px;
}

.footer-middle .info-block img {
    transition: transform 0.3s ease-in-out;
}

.footer-middle .info-block:hover img {
    transform: translateY(-5px);
}

.footer-bottom {
    position: relative;
    padding-bottom: 51px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1200px;
    margin: 33px auto 29px;
    flex-wrap: nowrap;
}

.footer-bottom::after {
    content: "";
    display: block;
    width: 1200px;
    height: 1px;
    background-color: rgba(70, 163, 88, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-section h4 {
    white-space: nowrap;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: #3D3D3D;
}

.footer-section ul {
    margin-top: 8px;
    list-style: none;
    padding: 0;
    font-family: 'Cera Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    font-family: 'Cera Pro', sans-serif;
    font-size: 14px;
    color: #3D3D3D;
    text-decoration: none;
    white-space: nowrap;
}

.footer-section ul li a:hover {
    color: #46A358;
    transition: color 0.3s ease-in-out;
}

.my-account {
    width: 100px;
    height: 174px;
    margin-left: 25px;
    margin-right: 164px;
}

.my-account ul {
    height: 150px;
    width: 137px;
}

.help-guide {
    width: 100px;
    height: 174px;
    margin-right: 129px;
}

.categories {
    width: 100px;
    height: 174px;
    margin-right: 173px;
}

.social-media {
    width: 224px;
    height: 154px;
    margin-right: 173px;
    margin-bottom: 33px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

.social-icons img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
    filter: brightness(1.2) saturate(1.5) hue-rotate(10deg);
}

.we-accept-title {
    margin-top: 33px;
    margin-bottom: 13px;
}

.payment-icons {
    width: 224px;
    height: 26px;
    margin-top: 0;
    mix-blend-mode: multiply;
    background-color: transparent;
}

.footer-copy {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #3D3D3D;
    margin-top: 6px;
    margin-bottom: 22px;
}